<div class="card-container">
    <div class="card highlight-card card-small">
        Students Data Submitted for Approval
    </div>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th>No. </th>
                <th>Student Name</th>
                <th>Action</th>
                <!-- <th>Country</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let student of students">
                <td> {{student.id}} </td>
                <td> {{student.name}} </td>
                <td> <button (click) = "getStudentById(student.id)" class ="btn btn-info">View</button> </td>
                <!-- <td>Germany</td> -->
            </tr>
        </tbody>
    </table>
</div>